<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/orders.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <% if (orders.length <= 0) { %> 
                <h1>Nothing there!</h1>
            <% } else { %>
                <ul class="orders">
                    <% orders.forEach(order => { %>
                        <li class="orders__item">
                            <div class="orders__item-heading">
                                <h2>Order - #<%= order._id %></h2> 
                                <a href="/invoice/<%= order._id %>">Invoice</a>
                            </div>
                            <ul class="orders__products">
                                <% order.products.forEach(p => { %>
                                    <li class="orders__products-item">
                                        <h3><%= p.product.title %> (<%= p.quantity %>)</h3>
                                    </li>
                                <% }); %> 
                            </ul>

                        </li>
                    <% }); %> 
                </ul>
            <% } %> 

        </main>
        <%- include('../includes/end.ejs') %>